/***** HOME PAGE */

#home .ui-controlgrup{width:60%; margin:0auto; max-width: 200px;}
#home img{display:block; margin: 0 auto; width:75%; max-width: 250px;}
#home{background: url('../css/images/background-stripes2.jpg');}


/***** LOGO */
.logo h1{width: 100%; text-align: center; margin: 0 auto; font-weight: normal}

/******* ELEMENTS */
p, h1 {color:#fff; font-weight: normal;}